<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Step</title>
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/base.css">
        <style rel="stylesheet" type="text/css"></style>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <link rel="icon" href="../static/img/logo.png">
        
    </head>
    <header>
        <div class="container-fluid_step">
            <img src="../static/img/header.png" class="center-block">
        </div>
    </header><br>
    <h1 align="middle" class="display-4 pl-4">Steps</h1>
<body>
    <div class="container_step">
        <div class="jumbotron">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="nome">IbIname:</label>
                        <input type="text" class="form-control" id="nome" placeholder="IbIname">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="sobrenome">Insira o nome:</label>
                        <input type="test" class="form-control" id="sobrenome" placeholder="Insira o nome">
                    </div>
                 </div>
            </div>
    </div>

    <div class="containerbtn">
        <a class="btn btn-danger btn-lg" href="#" role="button">Voltar</a>
        <a class="btn btn-success btn-lg" href="#" role="button">Salvar</a>
        
    </div>
    
        










</body>
</html>
